name: ci
on:
  push:
    branches: [ main ]
  pull_request:
    branches: '*'
  merge_group:
    branches: [ main ]

env:
  CI_XCODE: '/Applications/Xcode_26.1.app/Contents/Developer'

concurrency:
   group: ${{ github.workflow }}-${{ github.ref }}
   cancel-in-progress: true

jobs:
  spm-test:
    runs-on: macos-26
    steps:
    - uses: actions/checkout@v6
    - name: Install SwiftLint
      run: brew install swiftlint
    - name: Lint
      run: set -o pipefail && env NSUnbufferedIO=YES swiftlint --strict
    - name: Build and Test
      run: set -o pipefail && env NSUnbufferedIO=YES swift test --enable-code-coverage 2>&1 | xcbeautify --renderer github-actions
      env:
          DEVELOPER_DIR: ${{ env.CI_XCODE }}
    - name: Prepare codecov
      uses: sersoft-gmbh/swift-coverage-action@v5
      id: coverage-files
      with:
        format: lcov
        search-paths: ./.build
      env:
          DEVELOPER_DIR: ${{ env.CI_XCODE }}
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        files: ${{join(fromJSON(steps.coverage-files.outputs.files), ',')}}
        env_vars: SPM
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
      env:
          DEVELOPER_DIR: ${{ env.CI_XCODE }}

  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: vapor/swiftly-action@v0.2
        with:
          release-version: "6.2.3"
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Test
        run: set -o pipefail && env NSUnbufferedIO=YES swift test --enable-code-coverage

  docs:
    timeout-minutes: 20
    runs-on: macos-26
    steps:
      - uses: actions/checkout@v6
      - name: Generate Docs
        run: set -o pipefail && env NSUnbufferedIO=YES Scripts/generate-documentation
        env:
          DEVELOPER_DIR: ${{ env.CI_XCODE }}
